
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=ecostream
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña

KAFKA_SERVER=ecostream_kafka:29092
REDIS_HOST=ecostream_redis
REDIS_PORT=6379


CORS_ORIGINS=http://dominio.com
GROQ_API_KEY=api_key